/**
 * Created by Tom on 03.01.15.
 */
.errorMessage {
    font-font: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: red;
    background-color: lightgoldenrodyellow;
    text-align: center;
}

#gMaps {
    height: 400px;
    width: 400px;
    border: 1px solid;
}